sphinx>=7
myst-nb>=1.0
nbsphinx
recommonmark
renku-sphinx-theme>=0.5.0
sphinx_rtd_theme>=2.0
sphinx_click
sphinx_design

# required dependencies:
pandas 
numpy 
matplotlib 
scipy  
seaborn 
pytest>=7.1.3
pytest-mpl
